.Messages {
    display: flex;
    background-color: #f8f8f8;
    padding-left: 10px;
}

.messagesBox {
    background-color: gray;
    border-radius: 5px 5px 5px 0;
    margin: 10px 10px 10px 0;
    padding: 5px;
}

.userPic img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px 10px 10px 0;
}
h5 a{
    text-decoration: none;
    color: black;
}

.messagesBox p span {
    vertical-align: sub;
    font-size: 0.7rem;
    margin-left: 10px;
}




